<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Registration Form</mat-card-title>
      <mat-card-subtitle>
        if you already have an account, you can
        <a routerLink="/login">log in</a></mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="submitForm(f)" #f="ngForm">
        <!-- Name -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            type="text"
            placeholder="User Name"
            name="userName"
            ngModel
            required
            #userName="ngModel"
            [ngClass]="{
              'is-invalid':
                error?.userName ||
                (userName.invalid && (userName.dirty || userName.touched))
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="userName.invalid && (userName.dirty || userName.touched)"
          >
            Please enter your user name!
          </div>
          <div *ngIf="error?.userName" class="invalid-feedback">
            {{ error.userName }}
          </div>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Email"
            name="email"
            ngModel
            required
            email
            #email="ngModel"
            [ngClass]="{
              'is-invalid':
                error?.email ||
                (email.invalid && (email.dirty || email.touched))
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="email.invalid && (email.dirty || email.touched)"
          >
            Please enter correct email!
          </div>
          <div *ngIf="error?.email" class="invalid-feedback">
            {{ error.email }}
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Password"
            name="password"
            ngModel
            required
            type="password"
            minlength="6"
            #password="ngModel"
            [ngClass]="{
              'is-invalid':
                error?.password ||
                (password.invalid && (password.dirty || password.touched))
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="password.invalid && (password.dirty || password.touched)"
          >
            Please enter password with at least 6 characters!
          </div>
          <div *ngIf="error?.password" class="invalid-feedback">
            {{ error.password }}
          </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            placeholder="Confirm Password"
            name="confirmPassword"
            ngModel
            required
            type="password"
            #confirmPassword="ngModel"
            [ngClass]="{
              'is-invalid':
                error?.confirmPassword ||
                (confirmPassword.invalid &&
                  (confirmPassword.dirty || confirmPassword.touched))
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
          >
            Please enter conformation password!
          </div>
          <div *ngIf="error?.confirmPassword" class="invalid-feedback">
            {{ error.confirmPassword }}
          </div>
        </mat-form-field>
        <re-captcha
          #captcha="ngModel"
          ngModel
          name="captcha"
          required
          siteKey="6Le8E7UUAAAAAH4PLcUUplziTATVKhL-2mpIj0Om"
          [ngClass]="{
            'is-invalid':
              error?.captcha ||
              (captcha.invalid && (captcha.dirty || captcha.touched))
          }"
        ></re-captcha>
        <!-- Submit -->
        <div class="alert alert-danger" *ngIf="error">
          Failed to register user!
        </div>
        <div class="alert alert-success" *ngIf="success">
          You have successfully registered! Please check your email to
          verification account
        </div>
        <div class="button-wrapper">
          <button [disabled]="!f.valid" mat-flat-button color="primary">
            Register
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
