.example-card {
  width: 100%;
  margin: 5px 0 10px 100px;
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

.wraper {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.noMessages {
  text-align: center;
}
